.fadeIn{
    
-webkit-animation-duration:4s;
animation-duration: 4s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
}
.fadeInDown{
    
    -webkit-animation-duration:1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeInDown;
    }

@keyframes fadeIn{
    fROM{
    opacity: 0;
    }
    to{
    opacity:1

    }
}

@keyframes fadeInDown{
    fROM{
    opacity: 0;
    -webktit-transform: translate3d(0, -100%,0);
    transform: translate3d(0, -100%,0);
    }
    to{
    opacity:1;
    -webktit-transform: translate3d(0, 0,0);
    transform: translate3d(0,0,0);    
    }
}

.fadeInUp{
    
    -webkit-animation-duration:1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeInDown;
    }

@keyframes fadeInUp{
    fROM{
    opacity: 0;
    -webktit-transform: translate3d(0, 100%,0);
    transform: translate3d(0, 100%,0);
    }
    to{
    opacity:1;
    -webktit-transform: translate3d(0, 0,0);
    transform: translate3d(0,0%,0);    
    }
}