
:root{
    --green-color: #7acc2d;
    --white-color: 
}

html, body{
    padding: 0;
    margin:0;
    font-size: 12px;
    font-family: helvetica;
}

label{
    font-size: 12px;
    font-weight: bold;
    
}
nav{
    display: flex;
    background-color: #7acc2d;
    padding: 10px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    
}
nav li{
    padding-left: 20px;
    list-style: none;
}

nav a{
    color: black;
    text-decoration: none;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;

    
}
nav a:hover{
    color:white;
    background-color: cornflowerblue;
}

.mainSection{
    padding: 15%;
    text-align: center;
}

.products{
    background-image: url("curve.png");
    padding:15%;
    background-position: center top;
    display: flex;
    height: 95px;
    background-size: cover;
    justify-content: center;
}

.product{
    padding:20px;
    margin-top: -226px;
}

.product .content{
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 1px #c1bcbc;
    text-align: center;
}

.imageContent{
    text-align: center;
}

.mainButton{
    background-color:#7acc2d;
    text-decoration: none;
    width: 100%;
    border: 0;
    border-radius: 2px;
    color: white;
    font-size: 17px;
    padding: 10px;
    cursor:pointer;
}

.mainButton:hover{
    background-color: cornflowerblue;
}

/*Aca comienza la seccion de atributo*/

.atributo{
    display: flex;
    padding-top: 100px;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 100px;
    border-bottom: #EEEEEE 0.5px solid;
}

.atributo .imageContent2{
    text-align: center;
}

.atributo img{
    height: 113px;
}

.atributoDetalle{
    max-width: 150px;
}
 


/*Aca comienza la seccion de testimonios*/
.menciones{
    padding-top: 70px;
    padding-bottom: 30px;
    text-align: center;
    color: #313337;
}


.boxes{
    display: flex;
    justify-content: center;
    text-align: left;
}

.box{
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 0 1px black ;
    margin: 10px;
}
.img2{
    width: 100%;
    object-fit: cover;

}
.details{
padding-top: 0px;
padding: 10px;

}




footer{
    padding: 500px;
}
/*Pagina Productos*/
.col12 h2{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 30px;
    color: #313337;
}
.articulo img{
    height: 138px;
    }

.articulo .col4{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.articulo .col8{
    padding: 3%;
    margin: 5%;
}


/*Aca inicia Formulario*/
.moduloPago{
    background-color: white;
    color: black;
    box-shadow: 0px 0 2px 1px;
    padding: 10px;
    margin: 10px;
    
    height: auto;
}

.pagoImages{
text-align: center;    

}
.pagoImages img{
    max-width: 100px;
    
    }
form{
    margin: 10px;
        
    }
input{
    width: 100%;
    height: 35px;
    border-radius: 2px;
    border: 1px solid black;
    box-sizing: border-box;
    
}
/*Aca acaba Formulario*/
